@using Microsoft.AspNet.Identity
@model DASN.WebApp.Models.ViewModels.DASNote.ShowDASNoteViewModel
@{
    ViewBag.Title = "Show DASNote";
    ViewBag.User = User.Identity.GetUserId();
}

<h2>@ViewBag.Title.</h2>

<div class="form-horizontal">
    <a href="@Url.Action(controllerName: "DASNote", actionName: Model.CreatorToken == ViewBag.User ? "MyDASNotes" : "AuthoredBy", routeValues: new  { id = Model.CreatorToken})">@Model.CreatedBy</a>
    <small>@Model.CreatedAt.ToString("HH:mm:ss dd/MM/yyyy")</small>    
    <p>@Model.Content</p>
    @if (Model.CreatorToken == ViewBag.User)
    {
        <a href="@Url.Action(controllerName: "DASNote", actionName:  "Delete", routeValues: new  { id = Model.DASNoteToken})" class="btn btn-default">Delete</a>    
    }
</div>